
//- Importing Email Base
//-
extends structures/boilerplate.pug

//- Title
//-
block headTitle
    title Email Base

//-
//- Your HTML below
//-
block content

    p Hello world! This is HTML5 Boilerplate.
