doctype
html.no-js
  head
    meta(charset='utf-8')
    block headTitle
      title Default title
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/styles.css')

  body

    table#email-container(cellpadding="0" cellspacing="0"): tr: td.container-base
        //- Your content will be aplied here
        block content